body{
	margin: 0;
	padding: 0;
	font: 1em 'Microsoft Yahei';
	height: 100%;
}
h1,h2,h3,h4,h5,p{
	margin: 0;
	padding: 0;
}
section{
	margin: 0 auto;
	width: 1024px;
	text-align: center;
	/*height: 300px;*/
	padding: 0;
	/*font-size: 0;*/
}
article{
	width: 300px;
	height: 100px;
	background: #accded

}
.timeline, .line-left, .line-right{
	/*display: inline-block;
	*zoom: 1;*/
	margin: 0 0 30px 0;
	padding: 10px;
	height: 100%;
	background: #accded;
	vertical-align: top;
	text-align: left;
	border: none;
	box-sizing: border-box;
}
.timeline{
	position: relative;
	width: 50px;
	left: 50%;
	margin-left: -25px;
}
.line-right{
	float: right;
	/*margin-left: -0.25em;*/
}
.line-left{
	float: left;
}

.timeline{
	width: 50px;
	overflow: hidden;
}

.line-left, .line-right{
	width: 480px;
}